@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600,700,700italic&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
.select__value:after,
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-arrow:before {
  content: "\e900"
}
._icon-facebook:before {
  content: "\e901"
}
._icon-linkedin:before {
  content: "\e902"
}
._icon-select:before {
  content: "\e903"
}
._icon-twitter:before {
  content: "\e904"
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #292e3d;
  line-height: 1;
  font-family: "Work Sans";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Work Sans";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 77.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.button {
  display: inline-flex;
  padding-block: 1rem;
  font-weight: 600;
  line-height: 116.666667%;
  background-color: #2947a9;
  color: #fff;
  transition: background-color .3s
}
.button--fw {
  width: 100%
}
.button--white {
  background-color: #fff;
  color: #2947a9;
  transition: background-color .3s,color .3s
}
.button--transparent {
  white-space: nowrap;
  background-color: transparent;
  color: #fff;
  border: .125rem solid #fff;
  border-radius: .125rem;
  padding-inline: 1.25rem
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  background-color: #fff;
  border-radius: .25rem;
  width: 100%;
  display: block;
  padding: 0 .5rem;
  height: 2.5625rem;
  border: .0625rem solid #e0e3eb;
  caret-color: inherit;
  outline: 0;
  transition: border-color .3s
}
.input:focus {
  border-color: #292e3d
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  color: #a3aac2;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  font-size: 1.125rem
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  color: #a3aac2;
  -ms-transition: opacity .3s;
  transition: opacity .3s;
  font-size: 1.125rem
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  color: #a3aac2;
  -ms-transition: opacity .3s;
  transition: opacity .3s;
  font-size: 1.125rem
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  color: #a3aac2;
  transition: opacity .3s;
  font-size: 1.125rem
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: .625rem .5rem
}
.select {
  flex: 0 1 50%;
  min-width: 0;
  position: relative
}
.select__body {
  position: relative
}
.select__title {
  color: inherit;
  text-align: left;
  border: .0625rem solid #e0e3eb;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: .25rem
}
.select__value {
  display: flex;
  min-width: 0;
  align-items: center;
  height: 2.5625rem;
  padding: 0 .5rem;
  gap: .625rem
}
.select__value > * {
  flex: 1 1 auto
}
.select__value:after {
  content: "\e903";
  color: #2947a9;
  align-self: stretch;
  flex: 0 0 10px;
  transition: all .3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center
}
._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: .5
}
.select__content {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 116.666667%
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%
}
.select__options {
  color: #a3aac2;
  position: absolute;
  top: calc(100% - .0625rem);
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0 5px 0
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem
}
.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit
}
.select__option._select-selected {
  background-color: #eee
}
.select .select__option[data-value="1"]::after {
  content: "*";
  color: red
}
.select__row {
  display: inline-flex;
  align-items: center
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - .0625rem);
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  padding: 5px 0 10px 0
}
._select-tag {
  cursor: pointer
}
.menu__list {
  display: flex;
  align-items: center;
  row-gap: 1.875rem
}
.menu__link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #14171f;
  line-height: 116.666667%;
  transition: color .25s,font-weight .1s
}
.menu__list.fix .menu__link::after {
  content: attr(data-text);
  content: attr(data-text)/"";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  font-weight: 700
}
.icon-menu {
  display: none
}
.tabs__navigation {
  align-self: flex-start;
  display: grid
}
.tabs__title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 116.666667%;
  color: #c2c7d6;
  padding-left: 1.25rem
}
.tabs__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.tabs__title._tab-active {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 116.666667%;
  color: #2947a9;
  border-left: .25rem solid #2947a9;
  padding-left: 1rem
}
.tabs__wrapper:not(:last-child) {
  margin-bottom: 2rem
}
.tabs__items {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(18.125rem,1fr));
  gap: 2rem
}
.tabs__actions {
  position: relative;
  display: grid;
  gap: 2rem
}
.tabs__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .9375rem
}
.tabs__button {
  padding: 1.3125rem 0;
  width: min(18.4375rem,100%);
  background-color: #292e3d;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .625rem
}
.tabs__button.swiper-button-disabled {
  color: #a5a5a5;
  cursor: auto
}
.tabs__pagination {
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 1rem
}
.tabs__pagination .swiper-pagination-bullet {
  cursor: pointer;
  background-color: #f6f8f7;
  width: 1rem;
  aspect-ratio: 1;
  border-radius: 50%
}
.tabs__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #2947a9
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.logo {
  display: flex;
  align-items: center;
  gap: .875rem;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 116.666667%;
  color: #2947a9
}
.logo__italic {
  font-style: italic
}
.logo span {
  font-weight: 700
}
.title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 116.666667%;
  color: #292e3d
}
.title--center {
  text-align: center
}
.title--white {
  color: #fff
}
.swiper-button-prev::before {
  font-size: 1.625rem;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.swiper-button-next {
  flex-direction: row-reverse
}
.swiper-button-next::before {
  font-size: 1.625rem;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  transition: box-shadow .5s
}
.header._header-scroll {
  position: fixed;
  background-color: #fff;
  box-shadow: rgba(0,0,0,.15) 0 2px 8px
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 5rem
}
.header__logo {
  z-index: 10
}
.top-footer__address {
  font-style: normal
}
.top-footer__address:not(:last-child) {
  margin-bottom: 2rem
}
.top-footer__list {
  display: grid;
  gap: 2rem
}
.top-footer__item {
  font-size: 1.25rem;
  line-height: 115%;
  display: flex;
  -webkit-column-gap: .8125rem;
  -moz-column-gap: .8125rem;
  column-gap: .8125rem
}
.top-footer__item span {
  display: inline-block;
  width: 5.75rem;
  font-weight: 500;
  color: #2947a9
}
.top-footer__item:last-child a {
  color: #000;
  transition: color .3s
}
.top-footer__link {
  transition: color .3s
}
.top-footer__logo {
  display: inline-flex
}
.top-footer__line:not(:last-child) {
  margin-bottom: 2.625rem
}
.top-footer__label {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 115%;
  color: #2947a9
}
.top-footer__label:not(:last-child) {
  margin-bottom: 1.25rem
}
.bottom-footer {
  background-color: #2947a9
}
.bottom-footer__container {
  display: flex;
  align-items: center;
  min-height: 4.375rem
}
.bottom-footer__copy {
  color: #fff;
  font-size: 1rem;
  line-height: 118.75%
}
.form-footer__input {
  width: max(100%,17.5rem)
}
.form-footer__button {
  border-radius: .25rem;
  font-weight: 600;
  color: #fff;
  background-color: #f9995d;
  line-height: 116.666667%;
  padding: 0 1.4375rem;
  height: 2.5625rem;
  transition: background-color .3s
}
.social {
  display: flex;
  align-items: center;
  gap: 1.25rem
}
.social__link {
  font-size: 2.5rem;
  color: #3d445c;
  transition: color .3s
}
.hero {
  padding-top: 5rem
}
.hero__container {
  min-height: calc(100svh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative
}
.hero__title {
  position: absolute;
  top: calc(50% - 131px);
  left: 15px;
  right: 15px;
  font-weight: 600;
  line-height: 116.666667%;
  z-index: 1
}
.hero__body {
  position: absolute;
  width: 100vw;
  left: 50%;
  translate: -50% 0
}
.hero__slider {
  position: relative
}
.hero__slide {
  position: relative
}
.hero__actions {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  gap: .0625rem;
  align-items: center;
  width: 26rem
}
.hero__button {
  height: 2.5rem;
  color: #fff;
  line-height: 116.666667%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .625rem;
  background-color: #292e3d;
  width: 100%
}
.hero__button.swiper-button-disabled {
  color: #a5a5a5;
  pointer-events: none
}
.slide-hero {
  min-height: calc(100svh - 5rem)
}
.slide-hero__image-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1
}
.slide-hero__item {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 26rem;
  background-color: #2947a9;
  color: #fff;
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: 1.625rem;
  margin-bottom: 2.5rem
}
.slide-hero__title {
  font-weight: 700;
  line-height: 115%
}
.slide-hero__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.slide-hero__text {
  line-height: 116.666667%
}
.reputation__title:not(:last-child) {
  margin-bottom: 3.125rem
}
.reputation__items {
  display: grid;
  grid-template-columns: repeat(3,18.25rem);
  row-gap: 1.875rem;
  justify-content: center
}
.item-reputation {
  border-radius: .25rem;
  border: .0625rem solid #e0e3eb;
  padding: 1.25rem 1.25rem 2.5rem;
  display: grid;
  gap: 1.125rem
}
.item-reputation__img {
  width: 2.5rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center
}
.item-reputation__title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 115%;
  color: #3d445c
}
.item-reputation__text {
  font-size: 1rem;
  line-height: 118.75%;
  color: #858ead
}
.about__body {
  display: grid;
  align-items: center;
  grid-template-columns: 74.1776315789% auto
}
.about__image {
  aspect-ratio: 902/669;
  box-shadow: 0 8px 8px -4px rgba(17,24,39,.04),0 20px 24px -4px rgba(17,24,39,.1)
}
.about__content {
  background-color: #2947a9;
  color: #fff;
  box-shadow: 0 8px 8px -4px rgba(17,24,39,.04),0 20px 24px -4px rgba(17,24,39,.1);
  border-radius: .125rem
}
.about__title:not(:last-child) {
  margin-bottom: 2.3125rem
}
.about__text {
  line-height: 115%
}
.about__text p:not(:last-child) {
  margin-bottom: 1.75rem
}
.about__text:not(:last-child) {
  margin-bottom: 4.5625rem
}
.about__button {
  padding-inline: 1.25rem;
  border-radius: .375rem;
  border: .125rem solid #2947a9
}
.services {
  background-color: #f6f8f7
}
.services__title:not(:last-child) {
  margin-bottom: 2.25rem
}
.services__items {
  display: grid;
  grid-template-columns: repeat(3,16.9375rem);
  justify-content: center
}
.item-services {
  border-radius: .25rem;
  box-shadow: 0 0 37px -2px rgba(17,24,39,.05);
  min-height: 11.3125rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.625rem;
  padding: 1.25rem
}
.item-services--blue {
  background-color: #2947a9
}
.item-services__image {
  width: 2.5rem;
  aspect-ratio: 1/1;
  position: relative
}
.item-services__image img {
  -o-object-fit: cover;
  object-fit: cover
}
.item-services__image::before {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 50%;
  -webkit-transform: translate(-50%,50%);
  transform: translate(-50%,50%);
  width: 3.75rem;
  height: .125rem;
  background-color: #e0e3eb
}
.item-services__text {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 115%;
  color: #2947a9
}
.item-services__text--white {
  color: #fff
}
.experience__items {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(4,auto);
  align-items: start
}
.experience__content {
  justify-self: center
}
.experience__title {
  color: #2947a9;
  font-weight: 700;
  line-height: 116.666667%
}
.experience__title:not(:last-child) {
  margin-bottom: 2.5rem
}
.experience__text {
  font-size: 1.25rem;
  line-height: 115%;
  color: #525b7a
}
.experience__text:not(:last-child) {
  margin-bottom: 3rem
}
.experience__button {
  padding-inline: 2.4375rem;
  border-radius: .125rem
}
.item-experience {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 4px 6px -2px rgba(17,24,39,.05),0 12px 16px -4px rgba(17,24,39,.1)
}
.item-experience__body {
  position: relative
}
.item-experience__image {
  position: absolute;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
  object-fit: cover
}
.item-experience__image--1 {
  top: -1.1875rem;
  right: -1.75rem;
  width: 6.0625rem
}
.item-experience__image--2 {
  width: 4.9375rem;
  top: -3.0625rem;
  left: -2.0625rem
}
.item-experience__image--3 {
  width: 5.8125rem;
  top: -.9375rem;
  right: -1.3125rem
}
.item-experience__image--4 {
  width: 5.25rem;
  bottom: -2.625rem;
  right: -2.4375rem
}
.item-experience__number {
  display: inline-block;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 116.666667%
}
.item-experience__text {
  line-height: 116.666667%;
  color: #667299;
  border-left: .4375rem solid #f9995d;
  padding-left: .75rem;
  margin-left: 1rem
}
.consultation {
  background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../img/consultation/bg.webp) center/cover no-repeat
}
.consultation__title:not(:last-child) {
  margin-bottom: 1.875rem
}
.consultation__text {
  color: #fff;
  font-size: 1.5rem;
  line-height: 116.666667%
}
.consultation__text a {
  text-decoration: underline;
  transition: color .3s
}
.projects__title:not(:last-child) {
  margin-bottom: 2.5rem
}
.item-tabs {
  display: flex;
  flex-direction: column
}
.item-tabs__img-wrapper {
  overflow: hidden;
  display: block
}
.item-tabs__image {
  aspect-ratio: 384/247;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.item-tabs__content {
  flex: 1 1 auto;
  color: #fff;
  background-color: #2947a9;
  padding: .75rem .75rem 1rem;
  display: flex;
  flex-direction: column
}
.item-tabs__title {
  flex: 1 1 auto;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 115%
}
.item-tabs__title:not(:last-child) {
  margin-bottom: .75rem
}
.item-tabs__text {
  line-height: 116.666667%
}
.service {
  background-color: #f6f8f7
}
.service__header {
  text-align: center
}
.service__header:not(:last-child) {
  margin-bottom: 2.375rem
}
.service__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.service__text {
  max-width: 33.75rem;
  margin-inline: auto
}
.form-service {
  max-width: 37rem;
  margin-inline: auto
}
.form-service__body:not(:last-child) {
  margin-bottom: .5rem
}
.form-service__line {
  display: flex;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  row-gap: 1.25rem
}
.form-service__line:not(:last-child) {
  margin-bottom: 1.25rem
}
.form-service__item {
  flex: 0 1 50%;
  position: relative
}
.form-service__input::-webkit-input-placeholder {
  color: transparent
}
.form-service__input:-ms-input-placeholder {
  color: transparent
}
.form-service__input::-ms-input-placeholder {
  color: transparent
}
.form-service__input::placeholder {
  color: transparent
}
.form-service__input:disabled + .form-service__label,
.form-service__input:focus + .form-service__label,
.form-service__input:valid + .form-service__label {
  display: none
}
.form-service__label {
  position: absolute;
  top: .625rem;
  left: .5rem;
  display: block;
  line-height: 116.666667%;
  color: #a3aac2;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: text
}
.form-service__label::after {
  content: "*";
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  color: red
}
.form-service__textarea {
  min-height: 8.4375rem
}
.form-service__required {
  font-size: 1rem;
  line-height: 118.75%;
  color: #4e525d
}
.form-service__required:not(:last-child) {
  margin-bottom: 1.75rem
}
.form-service__required::before {
  content: "*";
  color: red
}
.form-service__btn {
  text-align: center
}
.form-service__button {
  padding-inline: 6.4375rem
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
@media (min-width:29.99875em) {
  .form-footer__line {
    display: flex;
    align-items: center;
    gap: .5rem
  }
}
@media (min-width:43.75em) {
  .tabs {
    display: grid;
    grid-template-columns: auto 65.7894736842%
  }
  .consultation__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.875rem
  }
}
@media (min-width:47.99875em) {
  .about__content {
    margin-left: -11rem
  }
  .experience__wrapper {
    display: grid;
    grid-template-columns: 52.6315789474% auto;
    align-items: center;
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .experience__body {
    padding-right: 1.75rem
  }
  .experience__item--1 {
    grid-column: 2/3;
    z-index: 4;
    margin-bottom: -3.5rem
  }
  .experience__item--2 {
    margin-left: 3.75rem;
    margin-right: -3.75rem;
    margin-bottom: -.75rem
  }
  .experience__item--3 {
    grid-row: 3/4;
    grid-column: 2/3;
    z-index: 2;
    margin-bottom: -3.125rem
  }
  .experience__item--4 {
    grid-row: 4/5;
    margin-left: 8.5rem;
    margin-right: -8.5rem
  }
}
@media (min-width:61.99875em) {
  .top-footer__container {
    display: flex;
    justify-content: space-between;
    gap: 1.875rem
  }
  .hero__title {
    max-width: 34.75rem
  }
  .experience__content {
    width: 22.5rem
  }
  .experience__text {
    width: 20.625rem
  }
}
@media (min-width:77.875em) {
  .menu__list {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .footer__top {
    padding-top: 5.3125rem
  }
  .footer__top {
    padding-bottom: 5rem
  }
  .hero__title {
    font-size: 4.5rem
  }
  .slide-hero__item {
    padding-inline: 3.25rem
  }
  .slide-hero__title {
    font-size: 1.25rem
  }
  .slide-hero__text {
    font-size: 1.5rem
  }
  .reputation {
    padding-top: 3.75rem
  }
  .reputation {
    padding-bottom: 5.25rem
  }
  .reputation__items {
    -webkit-column-gap: 4.5rem;
    -moz-column-gap: 4.5rem;
    column-gap: 4.5rem
  }
  .about {
    padding-top: 4.625rem
  }
  .about {
    padding-bottom: 12.625rem
  }
  .about__content {
    padding-top: 3.125rem
  }
  .about__content {
    padding-bottom: 3.75rem
  }
  .about__content {
    padding-left: 2.5rem
  }
  .about__content {
    padding-right: 3.75rem
  }
  .about__text {
    font-size: 1.25rem
  }
  .services {
    padding-top: 2.75rem
  }
  .services {
    padding-bottom: 4.75rem
  }
  .services__items {
    -webkit-column-gap: 6.125rem;
    -moz-column-gap: 6.125rem;
    column-gap: 6.125rem
  }
  .services__items {
    row-gap: 3rem
  }
  .experience {
    padding-top: 7.625rem
  }
  .experience {
    padding-bottom: 6.25rem
  }
  .experience__title {
    font-size: 3.75rem
  }
  .item-experience__body {
    padding: 1.875rem
  }
  .item-experience__text {
    font-size: 1.5rem
  }
  .consultation {
    padding-top: 6.25rem
  }
  .consultation {
    padding-bottom: 6.25rem
  }
  .projects {
    padding-top: 5.5rem
  }
  .projects {
    padding-bottom: 8.625rem
  }
  .service {
    padding-top: 3.75rem
  }
  .service {
    padding-bottom: 3.75rem
  }
}
@media (min-width:76em) {
  .tabs__pagination {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
  }
}
@media (max-width:37em) {
  .form-service__line {
    flex-direction: column
  }
}
@media (max-width:20em) {
  .footer__top {
    padding-top: 2.8125rem
  }
  .footer__top {
    padding-bottom: 2.5rem
  }
  .hero__title {
    font-size: 1.875rem
  }
  .slide-hero__item {
    padding-inline: .625rem
  }
  .slide-hero__title {
    font-size: 1rem
  }
  .slide-hero__text {
    font-size: 1.25rem
  }
  .reputation {
    padding-top: 1.875rem
  }
  .reputation {
    padding-bottom: 2.625rem
  }
  .about {
    padding-top: 2.3125rem
  }
  .about {
    padding-bottom: 6.3125rem
  }
  .about__content {
    padding-top: 1.5625rem
  }
  .about__content {
    padding-bottom: 1.875rem
  }
  .about__content {
    padding-left: 1.25rem
  }
  .about__content {
    padding-right: 1.875rem
  }
  .about__text {
    font-size: 1rem
  }
  .services {
    padding-top: 1.375rem
  }
  .services {
    padding-bottom: 2.375rem
  }
  .services__items {
    row-gap: 1.5rem
  }
  .experience {
    padding-top: 3.8125rem
  }
  .experience {
    padding-bottom: 3.125rem
  }
  .experience__title {
    font-size: 2.8125rem
  }
  .item-experience__body {
    padding: .9375rem
  }
  .item-experience__text {
    font-size: 1.25rem
  }
  .consultation {
    padding-top: 3.125rem
  }
  .consultation {
    padding-bottom: 3.125rem
  }
  .projects {
    padding-top: 2.75rem
  }
  .projects {
    padding-bottom: 4.3125rem
  }
  .service {
    padding-top: 1.875rem
  }
  .service {
    padding-bottom: 1.875rem
  }
}
@media (max-width:61.99875em) {
  .top-footer__left:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .hero__actions {
    width: 100%
  }
  .slide-hero__item {
    width: 100%
  }
  .reputation__items {
    grid-template-columns: repeat(2,18.25rem)
  }
  .services__items {
    -webkit-column-gap: 3.0625rem;
    -moz-column-gap: 3.0625rem;
    column-gap: 3.0625rem
  }
  .services__items {
    grid-template-columns: repeat(2,16.9375rem)
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 6.25rem .9375rem .9375rem .9375rem;
    background-color: #2947a9;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 5rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column
  }
  .menu__link {
    color: #fff;
    font-size: 1.875rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #292e3d
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__logo {
    background-color: #fff
  }
  .reputation__items {
    grid-template-columns: auto
  }
  .about__body {
    grid-template-columns: auto
  }
  .experience__body:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .experience__items {
    grid-template-columns: 1fr;
    row-gap: 3.75rem
  }
  .item-experience__image--1 {
    right: 0
  }
  .item-experience__image--2 {
    left: 0
  }
  .item-experience__image--3 {
    right: 0
  }
  .item-experience__image--4 {
    right: 0
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:43.75em) {
  .tabs__navigation:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .consultation__content:not(:last-child) {
    margin-bottom: 1.875rem
  }
}
@media (max-width:40.625em) {
  .services__items {
    grid-template-columns: 1fr
  }
}
@media (max-width:29.99875em) {
  .button {
    width: 100%;
    justify-content: center
  }
  .tabs__buttons {
    flex-direction: column-reverse
  }
  .tabs__button {
    width: 100%
  }
  .form-footer__input:not(:last-child) {
    margin-bottom: .5rem
  }
  .form-footer__button {
    width: 100%
  }
  .about__container {
    margin-inline: -.9375rem
  }
}
@media (min-width:47.99875em) and (max-width:77.875em) {
  @supports ((-moz-column-gap:clamp(1.5625rem ,-0.9477898414rem + 5.2299066985vw ,3.125rem)) or (column-gap:clamp(1.5625rem ,-0.9477898414rem + 5.2299066985vw ,3.125rem))) {
    .menu__list {
      -webkit-column-gap: clamp(1.5625rem ,-.9477898414rem + 5.2299066985vw ,3.125rem);
      -moz-column-gap: clamp(1.5625rem ,-.9477898414rem + 5.2299066985vw ,3.125rem);
      column-gap: clamp(1.5625rem ,-.9477898414rem + 5.2299066985vw ,3.125rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.5625rem ,-0.9477898414rem + 5.2299066985vw ,3.125rem)) or (column-gap:clamp(1.5625rem ,-0.9477898414rem + 5.2299066985vw ,3.125rem))) {
    .menu__list {
      -webkit-column-gap: calc(1.5625rem + 1.5625 * (100vw - 47.99875rem)/ 29.87625);
      -moz-column-gap: calc(1.5625rem + 1.5625 * (100vw - 47.99875rem)/ 29.87625);
      column-gap: calc(1.5625rem + 1.5625 * (100vw - 47.99875rem)/ 29.87625)
    }
  }
  @supports ((-moz-column-gap:clamp(2.25rem ,-1.3648173717rem + 7.5310656458vw ,4.5rem)) or (column-gap:clamp(2.25rem ,-1.3648173717rem + 7.5310656458vw ,4.5rem))) {
    .reputation__items {
      -webkit-column-gap: clamp(2.25rem ,-1.3648173717rem + 7.5310656458vw ,4.5rem);
      -moz-column-gap: clamp(2.25rem ,-1.3648173717rem + 7.5310656458vw ,4.5rem);
      column-gap: clamp(2.25rem ,-1.3648173717rem + 7.5310656458vw ,4.5rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(2.25rem ,-1.3648173717rem + 7.5310656458vw ,4.5rem)) or (column-gap:clamp(2.25rem ,-1.3648173717rem + 7.5310656458vw ,4.5rem))) {
    .reputation__items {
      -webkit-column-gap: calc(2.25rem + 2.25 * (100vw - 47.99875rem)/ 29.87625);
      -moz-column-gap: calc(2.25rem + 2.25 * (100vw - 47.99875rem)/ 29.87625);
      column-gap: calc(2.25rem + 2.25 * (100vw - 47.99875rem)/ 29.87625)
    }
  }
}
@media (min-width:20em) and (max-width:77.875em) {
  @supports (padding-top:clamp(2.8125rem ,1.9485691145rem + 4.3196544276vw ,5.3125rem)) {
    .footer__top {
      padding-top: clamp(2.8125rem ,1.9485691145rem + 4.3196544276vw ,5.3125rem)
    }
  }
  @supports not (padding-top:clamp(2.8125rem ,1.9485691145rem + 4.3196544276vw ,5.3125rem)) {
    .footer__top {
      padding-top: calc(2.8125rem + 2.5 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,1.6360691145rem + 4.3196544276vw ,5rem)) {
    .footer__top {
      padding-bottom: clamp(2.5rem ,1.6360691145rem + 4.3196544276vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,1.6360691145rem + 4.3196544276vw ,5rem)) {
    .footer__top {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (font-size:clamp(1.875rem ,0.9678725702rem + 4.535637149vw ,4.5rem)) {
    .hero__title {
      font-size: clamp(1.875rem ,.9678725702rem + 4.535637149vw ,4.5rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,0.9678725702rem + 4.535637149vw ,4.5rem)) {
    .hero__title {
      font-size: calc(1.875rem + 2.625 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-inline:clamp(0.625rem ,-0.2821274298rem + 4.535637149vw ,3.25rem)) {
    .slide-hero__item {
      padding-inline: clamp(.625rem ,-.2821274298rem + 4.535637149vw ,3.25rem)
    }
  }
  @supports not (padding-inline:clamp(0.625rem ,-0.2821274298rem + 4.535637149vw ,3.25rem)) {
    .slide-hero__item {
      padding-inline: calc(.625rem + 2.625 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (font-size:clamp(1rem ,0.9136069114rem + 0.4319654428vw ,1.25rem)) {
    .slide-hero__title {
      font-size: clamp(1rem ,.9136069114rem + .4319654428vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.9136069114rem + 0.4319654428vw ,1.25rem)) {
    .slide-hero__title {
      font-size: calc(1rem + .25 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.1636069114rem + 0.4319654428vw ,1.5rem)) {
    .slide-hero__text {
      font-size: clamp(1.25rem ,1.1636069114rem + .4319654428vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.1636069114rem + 0.4319654428vw ,1.5rem)) {
    .slide-hero__text {
      font-size: calc(1.25rem + .25 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-top:clamp(1.875rem ,1.2270518359rem + 3.2397408207vw ,3.75rem)) {
    .reputation {
      padding-top: clamp(1.875rem ,1.2270518359rem + 3.2397408207vw ,3.75rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,1.2270518359rem + 3.2397408207vw ,3.75rem)) {
    .reputation {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-bottom:clamp(2.625rem ,1.7178725702rem + 4.535637149vw ,5.25rem)) {
    .reputation {
      padding-bottom: clamp(2.625rem ,1.7178725702rem + 4.535637149vw ,5.25rem)
    }
  }
  @supports not (padding-bottom:clamp(2.625rem ,1.7178725702rem + 4.535637149vw ,5.25rem)) {
    .reputation {
      padding-bottom: calc(2.625rem + 2.625 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-top:clamp(2.3125rem ,1.5133639309rem + 3.9956803456vw ,4.625rem)) {
    .about {
      padding-top: clamp(2.3125rem ,1.5133639309rem + 3.9956803456vw ,4.625rem)
    }
  }
  @supports not (padding-top:clamp(2.3125rem ,1.5133639309rem + 3.9956803456vw ,4.625rem)) {
    .about {
      padding-top: calc(2.3125rem + 2.3125 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-bottom:clamp(6.3125rem ,4.131074514rem + 10.9071274298vw ,12.625rem)) {
    .about {
      padding-bottom: clamp(6.3125rem ,4.131074514rem + 10.9071274298vw ,12.625rem)
    }
  }
  @supports not (padding-bottom:clamp(6.3125rem ,4.131074514rem + 10.9071274298vw ,12.625rem)) {
    .about {
      padding-bottom: calc(6.3125rem + 6.3125 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-top:clamp(1.5625rem ,1.0225431965rem + 2.6997840173vw ,3.125rem)) {
    .about__content {
      padding-top: clamp(1.5625rem ,1.0225431965rem + 2.6997840173vw ,3.125rem)
    }
  }
  @supports not (padding-top:clamp(1.5625rem ,1.0225431965rem + 2.6997840173vw ,3.125rem)) {
    .about__content {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-bottom:clamp(1.875rem ,1.2270518359rem + 3.2397408207vw ,3.75rem)) {
    .about__content {
      padding-bottom: clamp(1.875rem ,1.2270518359rem + 3.2397408207vw ,3.75rem)
    }
  }
  @supports not (padding-bottom:clamp(1.875rem ,1.2270518359rem + 3.2397408207vw ,3.75rem)) {
    .about__content {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-left:clamp(1.25rem ,0.8180345572rem + 2.1598272138vw ,2.5rem)) {
    .about__content {
      padding-left: clamp(1.25rem ,.8180345572rem + 2.1598272138vw ,2.5rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,0.8180345572rem + 2.1598272138vw ,2.5rem)) {
    .about__content {
      padding-left: calc(1.25rem + 1.25 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-right:clamp(1.875rem ,1.2270518359rem + 3.2397408207vw ,3.75rem)) {
    .about__content {
      padding-right: clamp(1.875rem ,1.2270518359rem + 3.2397408207vw ,3.75rem)
    }
  }
  @supports not (padding-right:clamp(1.875rem ,1.2270518359rem + 3.2397408207vw ,3.75rem)) {
    .about__content {
      padding-right: calc(1.875rem + 1.875 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (font-size:clamp(1rem ,0.9136069114rem + 0.4319654428vw ,1.25rem)) {
    .about__text {
      font-size: clamp(1rem ,.9136069114rem + .4319654428vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.9136069114rem + 0.4319654428vw ,1.25rem)) {
    .about__text {
      font-size: calc(1rem + .25 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-top:clamp(1.375rem ,0.899838013rem + 2.3758099352vw ,2.75rem)) {
    .services {
      padding-top: clamp(1.375rem ,.899838013rem + 2.3758099352vw ,2.75rem)
    }
  }
  @supports not (padding-top:clamp(1.375rem ,0.899838013rem + 2.3758099352vw ,2.75rem)) {
    .services {
      padding-top: calc(1.375rem + 1.375 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-bottom:clamp(2.375rem ,1.5542656587rem + 4.1036717063vw ,4.75rem)) {
    .services {
      padding-bottom: clamp(2.375rem ,1.5542656587rem + 4.1036717063vw ,4.75rem)
    }
  }
  @supports not (padding-bottom:clamp(2.375rem ,1.5542656587rem + 4.1036717063vw ,4.75rem)) {
    .services {
      padding-bottom: calc(2.375rem + 2.375 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (row-gap:clamp(1.5rem ,0.9816414687rem + 2.5917926566vw ,3rem)) {
    .services__items {
      row-gap: clamp(1.5rem ,.9816414687rem + 2.5917926566vw ,3rem)
    }
  }
  @supports not (row-gap:clamp(1.5rem ,0.9816414687rem + 2.5917926566vw ,3rem)) {
    .services__items {
      row-gap: calc(1.5rem + 1.5 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-top:clamp(3.8125rem ,2.4950053996rem + 6.5874730022vw ,7.625rem)) {
    .experience {
      padding-top: clamp(3.8125rem ,2.4950053996rem + 6.5874730022vw ,7.625rem)
    }
  }
  @supports not (padding-top:clamp(3.8125rem ,2.4950053996rem + 6.5874730022vw ,7.625rem)) {
    .experience {
      padding-top: calc(3.8125rem + 3.8125 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,2.0450863931rem + 5.3995680346vw ,6.25rem)) {
    .experience {
      padding-bottom: clamp(3.125rem ,2.0450863931rem + 5.3995680346vw ,6.25rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,2.0450863931rem + 5.3995680346vw ,6.25rem)) {
    .experience {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (font-size:clamp(2.8125rem ,2.4885259179rem + 1.6198704104vw ,3.75rem)) {
    .experience__title {
      font-size: clamp(2.8125rem ,2.4885259179rem + 1.6198704104vw ,3.75rem)
    }
  }
  @supports not (font-size:clamp(2.8125rem ,2.4885259179rem + 1.6198704104vw ,3.75rem)) {
    .experience__title {
      font-size: calc(2.8125rem + .9375 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding:clamp(0.9375rem ,0.6135259179rem + 1.6198704104vw ,1.875rem)) {
    .item-experience__body {
      padding: clamp(.9375rem ,.6135259179rem + 1.6198704104vw ,1.875rem)
    }
  }
  @supports not (padding:clamp(0.9375rem ,0.6135259179rem + 1.6198704104vw ,1.875rem)) {
    .item-experience__body {
      padding: calc(.9375rem + .9375 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.1636069114rem + 0.4319654428vw ,1.5rem)) {
    .item-experience__text {
      font-size: clamp(1.25rem ,1.1636069114rem + .4319654428vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.1636069114rem + 0.4319654428vw ,1.5rem)) {
    .item-experience__text {
      font-size: calc(1.25rem + .25 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-top:clamp(3.125rem ,2.0450863931rem + 5.3995680346vw ,6.25rem)) {
    .consultation {
      padding-top: clamp(3.125rem ,2.0450863931rem + 5.3995680346vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,2.0450863931rem + 5.3995680346vw ,6.25rem)) {
    .consultation {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,2.0450863931rem + 5.3995680346vw ,6.25rem)) {
    .consultation {
      padding-bottom: clamp(3.125rem ,2.0450863931rem + 5.3995680346vw ,6.25rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,2.0450863931rem + 5.3995680346vw ,6.25rem)) {
    .consultation {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-top:clamp(2.75rem ,1.7996760259rem + 4.7516198704vw ,5.5rem)) {
    .projects {
      padding-top: clamp(2.75rem ,1.7996760259rem + 4.7516198704vw ,5.5rem)
    }
  }
  @supports not (padding-top:clamp(2.75rem ,1.7996760259rem + 4.7516198704vw ,5.5rem)) {
    .projects {
      padding-top: calc(2.75rem + 2.75 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-bottom:clamp(4.3125rem ,2.8222192225rem + 7.4514038877vw ,8.625rem)) {
    .projects {
      padding-bottom: clamp(4.3125rem ,2.8222192225rem + 7.4514038877vw ,8.625rem)
    }
  }
  @supports not (padding-bottom:clamp(4.3125rem ,2.8222192225rem + 7.4514038877vw ,8.625rem)) {
    .projects {
      padding-bottom: calc(4.3125rem + 4.3125 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-top:clamp(1.875rem ,1.2270518359rem + 3.2397408207vw ,3.75rem)) {
    .service {
      padding-top: clamp(1.875rem ,1.2270518359rem + 3.2397408207vw ,3.75rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,1.2270518359rem + 3.2397408207vw ,3.75rem)) {
    .service {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem)/ 57.875)
    }
  }
  @supports (padding-bottom:clamp(1.875rem ,1.2270518359rem + 3.2397408207vw ,3.75rem)) {
    .service {
      padding-bottom: clamp(1.875rem ,1.2270518359rem + 3.2397408207vw ,3.75rem)
    }
  }
  @supports not (padding-bottom:clamp(1.875rem ,1.2270518359rem + 3.2397408207vw ,3.75rem)) {
    .service {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem)/ 57.875)
    }
  }
}
@media (min-width:61.99875em) and (max-width:77.875em) {
  @supports ((-moz-column-gap:clamp(3.0625rem ,-8.8969470908rem + 19.2898196992vw ,6.125rem)) or (column-gap:clamp(3.0625rem ,-8.8969470908rem + 19.2898196992vw ,6.125rem))) {
    .services__items {
      -webkit-column-gap: clamp(3.0625rem ,-8.8969470908rem + 19.2898196992vw ,6.125rem);
      -moz-column-gap: clamp(3.0625rem ,-8.8969470908rem + 19.2898196992vw ,6.125rem);
      column-gap: clamp(3.0625rem ,-8.8969470908rem + 19.2898196992vw ,6.125rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(3.0625rem ,-8.8969470908rem + 19.2898196992vw ,6.125rem)) or (column-gap:clamp(3.0625rem ,-8.8969470908rem + 19.2898196992vw ,6.125rem))) {
    .services__items {
      -webkit-column-gap: calc(3.0625rem + 3.0625 * (100vw - 61.99875rem)/ 15.87625);
      -moz-column-gap: calc(3.0625rem + 3.0625 * (100vw - 61.99875rem)/ 15.87625);
      column-gap: calc(3.0625rem + 3.0625 * (100vw - 61.99875rem)/ 15.87625)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: #f9995d
  }
  .button--white:hover {
    background-color: #f9995d;
    color: #fff
  }
  .button--transparent:hover {
    background-color: #fff;
    color: #292e3d
  }
  .select__option:hover {
    background: #d9d9d9
  }
  .menu__link:hover {
    color: #f9995d;
    font-weight: 700
  }
  .swiper-button-prev:hover::before {
    -webkit-transform: translate(-10px,0);
    transform: translate(-10px,0)
  }
  .swiper-button-prev.swiper-button-disabled:hover::before {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .swiper-button-next:hover::before {
    -webkit-transform: rotate(-180deg) translate(-10px,0);
    transform: rotate(-180deg) translate(-10px,0)
  }
  .swiper-button-next.swiper-button-disabled:hover::before {
    -webkit-transform: rotate(-180deg) translate(0,0);
    transform: rotate(-180deg) translate(0,0)
  }
  .top-footer__item:last-child a:hover {
    color: #f9995d
  }
  .top-footer__link:hover {
    color: #f9995d
  }
  .form-footer__button:hover {
    background-color: #2947a9
  }
  .social__link:hover {
    color: #f9995d
  }
  .consultation__text a:hover {
    color: #f9995d
  }
  .item-tabs__image:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
}
@media speech {
  .menu__list.fix .menu__link::after {
    display: none
  }
}